body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: rgb(240, 237, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
width: 120px;
margin: 15px;

}

ul li {
list-style: none;
justify-content: right;
display: inline;
list-style: none;
line-height: 42px;
margin-left: 15px;
font-weight: bolder;
}

ul{
    padding: 0;
      margin: 0;
display: flex;
flex-direction: row;
flex-flow: wrap;
align-items: center;
margin: 20px;
}

.green-icon{
padding: 15px;
background: green;
border-radius: 7px;
color: #ffff;
line-height: 1;
        }
    
.home-bg{
background: url(/images/homeBg.png);
background-repeat: no-repeat;
text-align: center;
color: rgb(236, 239, 241);
}

h3{
font-size: 35px;
font-weight: 400;
margin: 0;
}

.green-logo{
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-around;
}


    .star-icon{
        margin-top: 5px;
       text-align: center;
        
    }
  

.brands{
background: #f9f5f5;
text-align: center;
text-decoration: underline;
font-size: 30px;
font-weight: 900;
color: rgb(19, 18, 18);
}

.brands-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.popular{
display: flex;
justify-content: center;
padding-bottom:20px ;
}

.box{
  border:1px solid white;
  padding: 10px;
  border-radius: 12px;
  margin:10px;
}






