body {
    margin: 100px 0;
  }
  
.logo{
width: 120px;
margin: 15px;

}

.navbar-nav .nav-item {
    list-style: none;
    justify-content: left;
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-weight: bolder;
    color: black;
    }
    
    .navbar-nav{
        padding: 0;
          margin: 0;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 20px;
    color: black;
    }

    .navbar-nav .nav-item .green-icon{
        color: white;

    }

.navbar-collapse {
    flex-grow: 0;
}
.green-icon{
padding: 15px;
background: green;
border-radius: 7px;
color: #ffff;
line-height:1 ;
margin-top: -8px

}

.login{
color: #fff;
}
.home-bg{
background: url(/images/homeBg.png);
background-repeat: no-repeat;
text-align: center;
color: rgb(236, 239, 241);
}

h3{
font-size: 30px;

}

h2{
color: #fff;
margin-top: 40px;
}

.green-logo{
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-around;
}


    .star-icon{
        margin-top: 5px;
       text-align: center;
        
    }
  

.brands{
background: #f9f5f5;
text-align: center;
text-decoration: underline;
font-size: 30px;
font-weight: 900;
color: rgb(19, 18, 18);
}

.brands-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.popular{
display: flex;
justify-content: center;
padding-bottom:20px ;
}

.box{
  border:1px solid white;
  padding: 10px;
  border-radius: 12px;
  margin:10px;
}


.search { 
    position: relative; 
    margin: 0 auto ;
    text-align: center;

  }
  .search input { 
    text-indent: 30px;
    
  }
  .search .fa-solid  { 
    position: absolute;
    top: 40px;
    left: 65%;
    font-size: 15px;
    color: rgb(221, 230, 222);
  }
  
  input {
    width: 450px;
    padding: 5px;
    margin: 15px;
    height: 47px;
    outline: none;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

::placeholder{
  color:#fff;
}
 
@media (max-width:900px) {
  .logo{
    width: 100px;
    margin: 10px;
    
    }
}